* {
    font-family: 'Roboto';
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}


.top {
    background: #E0E1E2;
    /* padding-top: 25px; */
    padding-bottom: 48px;
}

/* .header {
    display: flex;
    justify-content: center;
} */

.header__logo-white {
    display: none;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 20px;
    color: #2F3132;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0px;
}

.text__margin {
    margin-left: 34px;
    margin-right: 32px;
}

.top__text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.navbar {
    padding-top: 25px;
}

.navbar-light .navbar-toggler {
    position: absolute;
    right: 25px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    justify-content: center;
}


.top__image {
    margin-top: 94px;
    height: 256px;
    background-image: url(images/MX-Master\ 1.png);
    background-size: contain;
    margin-bottom: 41px;
    background-repeat: no-repeat;
    background-position: center;
}

.top__arrow {
    margin-top: 40px;
}

.center__content {
    display: flex;
    justify-content: center;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 22px;
}

.bluetooth__icon {
    margin-bottom: 20px;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 31px;
    color: #C4C4C4;
}

.bluetooth__img {
    height: 284px;
    background-image: url(images/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.info {
    padding-top: 70px;
    padding-bottom: 77px;
}


.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 17px;
    padding-right: 17px;
}

.info__content {
    margin-bottom: 28px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.info__item-heading {
    margin-bottom: 5px;
}

.carousel {
    margin-bottom: 50px;
}

.info__text {
    margin-left: 67px;
    margin-right: 61px;
}

.flow {
    padding-top: 70px;
    padding-bottom: 218px;
    background-image: url(images/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.flow__ol {
    margin-top: 36px;
    padding-left: 54px;
}

.text__flow {
    margin-bottom: 23px;
    text-align: left;
    width: 222px;
}

.settings {
    padding-top: 70px;
    background: #EDEDED;
}

.settings__slider {
    margin: 35px 22px 98px 23px;
}

.settings__slider-img {
    display: none;
}

.settings__content {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text__setings {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 11px;
}

.mouse__text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.mouse__img {
    height: 310px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mouse__img-1 {
    background-image: url(images/image1.jpg);
}

.mouse__img-2 {
    background-image: url(images/image2.png);
}

.footer {
    background: #2F3132;
    height: 75px;

    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;

    color: #C7C8C8;
    padding-top: 22px;
}

.top__svg {
    height: 20px;
    width: 39px;
}


.wrapper {
    /* max-width: 800px; */
    margin: auto;
    width: 100%;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .navbar-nav {
    align-items: flex-end;
  }




/* @media (min-width: 768px) and (max-width: 1024) {
    .navbar-nav {
    align-items: center;
    padding-top: 100px;
}

.nav-link-mob {
    font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
text-align: center;
color: #C4C4C4 !important;
}

.nav-item {
    padding-bottom: 59px;
}
}  */

  
.carousel-indicators__info {
    position: relative;
    opacity: 1;
    width: 308px;
    margin: auto;
}
  

.collapse.show .header__logo-white-menu {
    display: block;
    margin: auto;
}


@media (min-width: 768px) {

    .collapse.show .header__logo-white-menu {

        margin-top: 25px;
    }

    

    .header__logo-white-menu {
        display: none;
    }
    .top {
        /* padding-top: 54px; */
        padding-bottom: 80px;
    }

    .top__image {
        margin-top: 159px;
        height: 514px;
        margin-bottom: 124px;
    }

    .navbar {
        padding-top: 54px;
    }
    
    .header__logo {
        width: 240px;
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 24px;
        line-height: 28px;
    }

    .text__margin {
        margin-left: 77px;
        margin-right: 77px;
    }

    .top__text-margin {
        margin-left: 159px;
        margin-right: 159px;
    }

    .top__arrow {
        margin-top: 76px;
    }

    .top__svg {
        height: 33px;
        width: 61px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 3px;
    }

    .bluetooth__heading {
        font-size: 150px;
        line-height: 176px;
    }

    .bluetooth__img {
        height: 597px;
        margin-left: 39px;
        margin-right: 19px;
    }

    .info__content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .info__item {
        min-height: 170px;
    }

    .info__item-heading {
        margin-bottom: 5px;
    }

    .info__heading {
        font-size: 24px;
        line-height: 28px;
    }

    .flow {
        padding-bottom: 498px;
        padding-left: 64px;
        padding-right: 65px;
    }

    .text__flow-p {
        margin-left: 0;
        margin-right: 0;
    }

    .flow__ol {
        display: flex;
        list-style-position: inside;
        padding-left: 0;
    }

    .text__flow {
        width: auto;
        padding: 8px 21px 4px 28px;
        border-left: 1px solid #494949;
        font-size: 20px;
        line-height: 23px;
    }

    .text__flow:first-child {
        border-left: none;
        padding-left: 0;
    }

    .text__flow:last-child {
        padding-right: 0;
    }

    .settings { 
        padding-bottom: 70px;
    }

    .settings__content {
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings__slider {
        margin: 54px 198px 150px;
    }

    .settings__heading {
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings__text {
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings__icons {
        margin-right: 104px;
        margin-left: 98px;
    }

    .settings__img {
        height: 35px;
    }


    .text__setings {
        font-size: 20px;
        line-height: 23px;
    }

    .text__mouse {
        margin-left: 0;
        margin-right: 0;
    }

    .mouse__text {
        padding-left: 67px;
        padding-right: 65px;
        padding-bottom: 50px;
    }

    .mouse__img {
        height: 549px;
    }

    .mouse__img-1 {
        background-image: url(images/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.jpg);
    }

    .mouse__img-2 {
        background-image: url(images/image.jpg);
    }

    .footer {
        font-size: 14px;
        line-height: 16px;
        height: 150px;
        padding-top: 47px;
    }


}

.carousel-indicators__info {
    position: relative;
    opacity: 1;
    
}

.info__slider-material-1 {
    background-image: url(images/wood-texture.png);
}

.info__slider-material-2 {
    background-image: url(images/wood-texture-3.png);
}

.info__slider-material-3 {
    background-image: url(images/linoleum-texture.png);
}

.info__slider-material-4 {
    background-image: url(images/cloth-texture.png);
}

.info__slider-material-5 {
    background-image: url(images/marble-texture.png);
}   



.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 25px;
    height: 25px;
    padding: 0;
    margin-right: 11px;
    margin-left: 11px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #c4c4c4;
    background-clip: padding-box;
    border: 0;
    opacity: 1;
    border-radius: 50%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition:  .6s ease;
    background-size: contain;
}

.navbar-toggler-icon-x{
    display: block;
background-image: url(images/Vector\ 8.svg);
width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


.navbar-toggler.collapsed .navbar-toggler-icon-x {
    display: none;
 }

 .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
 }








.carousel-control-prev-icon {
    background-image: url(images/arrow-left.svg);
    background-color: white;
}

.carousel-control-next-icon {
    background-image: url(images/arrow-right.svg);
    background-color: white;
}

.carusel__indocator-size {
    margin-top: 53px;
    position: relative;
}

.carusel__indocator-size .active {
    background-color: #2F3132;
    opacity: 1;
    width: 25px;
    height: 25px;
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 25px;
    height: 25px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border: 0;
    border-radius: 50%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition:  .6s ease;
}

.navbar-light .navbar-toggler {
    z-index: 2;
}






@media (max-width: 991px) {
    .navbar-collapse {
        background-color: #2F3132;
        width: auto;
        position: absolute;
        top: 0px;
        width: 100vw;
        height: 100vh;
        padding: 32px;
    }


  .navbar-nav {
    align-items: center;
    padding-top: 148px;
}

.nav-link-mob {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #C4C4C4 !important;
}

.nav-item {
    padding-bottom: 32px;
}

    /* .navbar-nav {
        align-items: center;
        padding-top: 100px;
    }

    .nav-link-mob {
        font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
text-align: center;
color: #C4C4C4 !important;
    }

    .nav-item {
        padding-bottom: 59px;
    } */

  }

  @media (min-width: 992px) {
    .header__logo-white-menu {
        display: none !important;
    }

  }

@media (min-width: 992px) {

    .header__logo-white-menu {
        display: none;
    }
    .center {
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    .header__logo-white-menu {
        display: none;
    }

    .header__logo-white {
        display: block;
        width: 150px;
    }

    .header__logo-dark {
        display: none;
    }

    .header {
        background-color: #2f3132;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }

    .navbar-light .navbar-nav .nav-link {
        font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #FFFFFF;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        justify-content: space-between;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        font-style: normal;
        border-bottom: 1px solid #FFFFFF;
font-weight: 500;
font-size: 12px;
line-height: 14px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .nav-item {
        padding-left: 21px;
        padding-right: 21px;
        border-right: 1px solid #494949;
    }

    .nav-item:first-child {
        padding-left: 0;
    }

    .nav-item:last-child {
        padding-right: 0;
        border: none;
    }
    
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    /* .menu__desktop {
        margin-left: 147px;
    } */

    .top__image {
        margin-top: 20px;
        height: 671px;
        padding-top: 80px;
        margin-bottom: 8px;
    }

    .top__arrow {
        margin-top: 49px;
    }

    .bluetooth {
        padding-bottom: 80px;
    }

    .bluetooth__img {
        height: 427px;
        background: url(images/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 119px,
        url(images/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png) no-repeat right 119px;
        margin-left: 0;
        margin-right: 0;
    }

    .center__bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .bluetooth__heading {
        font-size: 96px;
        line-height: 112px;
        display: flex;
        justify-content: center;
    }

    .bluetooth__heading-day {
        font-size: 300px;
        line-height: 352px;
        padding-left: 74px;
    }

    .bluetooth__heading-days {
        padding-top: 45px;
    }

    .info {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info__text {
        width: 765px;
        margin: auto;
    }

    .info__item {
        min-height: 140px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .info__item-heading {
        margin-bottom: 5px;
    }

    .info__slider {
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px);
    }

    .text__info {
        width: 765px;
        margin: auto;
    }

    .flow {
        padding-bottom: 870px;
        background-image: url(images/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1-2.png);
    }

    .flow__center {
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .flow__ol {
        margin-left: 15px;
    }

    .settings {
        padding-bottom: 100px;
    }

    .settings__slider {
        display: none;
    }

    .settings__slider-img {
        display: flex;
        justify-content: center;
        margin-top: 71px;
    }

    .settings__slider-img-contain {
        max-width: 100%;
    }

    .settings__content {
        width: 749px;
        margin: auto;
    }

    .settings__text {
        width: 958px;
        margin: auto;
    }

    .mouse {
        display: flex;
        flex-wrap: wrap;
    }

    .mouse__center {
        padding-left: calc(50% - 655px);
        padding-right: calc(50% - 655px);;
    }

    .mouse__item {
        height: 557px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mouse__text-1 {
        padding-right: 217px;
        order: 2;
    }

    .mouse__text-2 {
        padding-left: 217px;
        order: 3;
    }

    .mouse__text-1 .heading {
        text-align: left;
    }

    .mouse__text-1 .text {
        text-align: left;
    }

    .mouse__text-2 .text {
        text-align: right;
    }

    .mouse__text-2 .heading {
        text-align: right;
    }

    .mouse__img-1 {
        order: 1;
        background-image: url(images/image\ 1.png);
    }

    .mouse__img-2 {
        order: 4;
        background-image: url(images/image\ 2.png);
    }


}

/* @media (min-width: 1280px) {
    .center {
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px);
    }

    .header__logo-white {
        display: block;
    }

    .header__logo-dark {
        display: none;
    }
} */